<% layout("layouts/boilerplate") %> <% title = "Edit Campground" %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <!-- form for editing campground details -->
  <div class="col-6 offset-3">
    <form action="/campgrounds/<%= campground._id %>?_method=put" method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          name="campground[title]"
          id="title"
          value="<%= campground.title %>"
        />
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          name="campground[location]"
          id="location"
          value="<%= campground.location %>"
        />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image Url</label>
        <input
          type="text"
          class="form-control"
          name="campground[image]"
          id="image"
          value="<%= campground.image %>"
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="number"
            class="form-control"
            name="campground[price]"
            id="price"
            value="<%= campground.price %>"
            aria-label="price"
            aria-describedby="price-label"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="campground[description]"
          class="form-control"
          id="description"
        >
<%= campground.description %></textarea
        >
      </div>
      <button class="btn btn-info">Update Campground</button>
    </form>
    <!-- link back to the campground details page -->
    <div class="mt-3">
      <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
    </div>
  </div>
</div>
