<% layout("layouts/boilerplate") %> <% title = "Campgrounds" %>
<main>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card mb-3">
        <img src="<%= campground.image %>" alt="" class="card-img-top" />
        <div class="card-body">
          <h1 class="card-title"><%= campground.title %></h1>
          <p class="card-text text-muted"><%= campground.location %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= campground.description %></li>
          <li class="list-group-item">$<%= campground.price %> per night</li>
        </ul>
        <div class="card-body">
          <!-- link to edit campgrounds -->
          <a
            href="/campgrounds/<%= campground._id %>/edit"
            class="card-link btn btn-info"
            >Edit</a
          >
          <!-- form to delete campground -->
          <form
            action="/campgrounds/<%= campground._id %>?_method=delete"
            method="post"
            class="d-inline"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <!-- link to view campgrounds -->
      <div class="card-footer text-muted">
        <a href="/campgrounds">View Campgrounds</a>
      </div>
    </div>
  </div>
</main>
